.App {
  text-align: center;
}

body {
  background: #EFEFEF;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

/*  google maps  -----------------------*/

.home-search {
  /* margin-left: 1em;
  height: 2.5em;
  width: 50%;
  margin-right: 2em; */
}

.home-search #PlacesAutocomplete__root {
  display: inline-block;
  z-index: 999;
  width: 100%;
  height: 2.5em;
}

.search-btn {
  background-color: grey;
  color: white;
  height: 2.7em;
  width: 23%;
  border-radius: 8px;
  margin-left: 1%;
}

.search-btn:focus {
  outline: initial;
}

.search-btn:hover {
  width: 23%;
  background-color: white;
  color: dimgray;
  border: 3px solid grey;
  height: 2.7em;
  border-radius: 8px;
}

#map {
  width: 100%;
  height: 700px;
}

.gm-info-div {
  text-align: center;
  margin-left: auto;
  margin-right: auto; 
}

.gm-info-image {
  height: 18em;
  width: 32em;
  margin-left: 1.6em;
}

.gm-info-btn {
  background-color: grey;
  color: white;
  margin-top: 1em;
  height: 3em;
  width: 20em;
  border-radius: 8px;
}
.gm-info-btn:hover {
  background-color: white;
  color: dimgray;
  border: 3px solid grey;
  margin-top: 1em;
  height: 3em;
  width: 20em;
  border-radius: 8px;
}

/*    details    -----------------------------*/

.d-images-container {
  width: 100%;
  display: flex;
}

.d-image-box {
  position: absolute;
  width: 60em;
  height: 33em;
  box-shadow: 6px 6px 2px grey;
  z-index: -20;
  
}

.d-images-div {
  width: 100%;
  height: auto;
  margin-top: .5em;
 
}

.d-images-image {
  position: relative;
  margin: .5em 0;
  width: 60em;
  height: 33em;
  margin: auto;
  box-shadow: 3px 3px 1px dimgrey;
  z-index: 6;
}

/* .d-image-box {
  width: 100%;
  height: 10em;
  
} */

.d-map-box {
  margin-top: 3em;
  width: auto;
  height: 22em;
}

.d-images-map{
  position: absolute;
  margin-left: -31em;
  height: 20em;
  width: auto;
  border: 1px solid dimgray;
  box-shadow: 4px 4px 1px dimgrey;
  z-index: -3;
}

.d-text {
  position: absolute;
  text-align: center;
  margin-left: 62%;
  margin-top: -10%;
  margin-bottom: 2em;
  background-color: white;
  width: 37%;
  box-shadow: 4px 4px 1px dimgrey;
  z-index: -2;
}

.d-text h1 {
  margin-top: 1em;
}

.d-text h5 {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2em;
  width: 60%;
}

/*    browse    --------------*/

.brow-main-div {
  height: 21em; 
  width: 16em; 
  float: left; 
  margin: 3em 1em 1em 1em; 
  display: flex; 
  justify-content: center;
}

.brow-main-div:hover {
  background-color: lightgrey;
}

.brow-sub-div {
  height: 9em; 
  width: 16em; 
  position: absolute;
  box-shadow: 4px 4px 1px grey; 
  z-index: -1;
}

.brow-img {
  height: 9em; 
  width: 16em; 
  position: absolute; 
  box-shadow: 0px 2px 1px dimGrey;
}

.brow-text-div {
  height: 15em; 
  width: 14em; 
  background: white; 
  margin-top: 9em; 
  margin-left: 0 auto; 
  margin-right: 0 auto; 
  text-align: center; 
  box-shadow: 2px 2px 1px DimGrey;
}

.brow-text-div h2 {
  margin-top: 0.5em;
}

.brow-text-div h6 {
  margin: 1em;
}

.brow-main-div p {
  margin: 1em 1em 3em 1em;
}

.spacer {
  height: 1em;
  width: 100%;
  background-color: indianred;
}


/*    contact    ------------------------*/

.con-main-dev {
  height: 26em; 
  width: 80%; 
  margin-left: 10%; 
  margin-top: 2em; 
  display: flex;
}

.con-shadow-div {
  height: 26em; 
  width: 39em; 
  position: absolute; 
  box-shadow: 4px 4px 1px grey; 
  z-index: -1;
}

.con-img {
  height: 26em; 
  width: 39em; 
  box-shadow: 2px 0px 1px dimGrey; 
  position: relative;
}

.con-text-div {
  height: 23em;
  width: 18em; 
  background: white; 
  margin-top: 1.5em; 
  text-align: center; 
  box-shadow: 2px 2px 1px DimGrey;
}

.con-text-div h4 {
  margin-top: 1em;
}

.github {
  height: 2em; 
  width: 3em; 
  position: relative;
}

.linked {
  height: 2em; 
  width: 2em; 
  position: relative; 
}

.con-bottom {
  margin-bottom: 0;
}

.page-bottom {
  margin-bottom: 3em;
}











@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
